# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# OS Files
.DS_Store

# Build Output
dist
dist-ssr

# Coverage
coverage

# Local Environment Files
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Ignore all JavaScript files in the src directory
# These are generated during the build process
src/**/*.js
.vscode/

# Doc
doc